In [1]:
#Morgan Phillips

import pandas as pd
import pyodbc 
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};' # Driver
                      'Server=stairway.usu.edu;' # Server name
                      'Database=dbvachr;' # Database Name
                      'UID=dunn2100;' # User ID 
                      'PWD=databases4ever;' # Password 
                      'Trusted_Connection=no;')
cursor = conn.cursor()  ##connects the server

query = """SELECT E.EmpID, Fname, Lname, CurrSalary, MonthsAtCo, RelToCEO, RoleName
FROM Employee E, EmpRole M, Role R
WHERE E.EmpID = M.EmpID AND R.RoleID = M.RoleID AND R.RoleID IN (15,16)
ORDER BY 3, 2;
;"""

df=pd.read_sql(query, conn, index_col='EmpID')

print(df)
#seperate queries into sepereate data bases - concate all -same index(primary key) values rep. same person

           Fname    Lname  CurrSalary  MonthsAtCo                RelToCEO  \
EmpID
48          Noah    Adams     74000.0          34            nephew/niece
39         Clint  Bennett     96500.0          27                    none
41          Ross  Collins     80800.0           9               ex-spouse
44       Adaline    Drake     90400.0          51          sibling-in-law
45       Harmony   Flores     79200.0          14                    none
50         Tyler   Gordon     83900.0          28                    none
49       Bristol  Johnson     69600.0          18           second cousin
47         Khloe  Morales     70500.0          10  spouse of first cousin
42        Taylor   Morgan     81700.0           7  spouse of third cousin
40       Jackson  Pearson     90400.0          13    step-sibiling-in-law
38          Jack    Perry     87200.0          43                    none
46          Lara  Sanchez     71800.0          30                 sibling
51        Angela  Simmons     83200.0           8              grandchild
43     Everleigh    Young     83300.0          46                    none

                 RoleName
EmpID
48      Product Manager I
39     Product Manager II
41     Product Manager II
44     Product Manager II
45      Product Manager I
50      Product Manager I
49      Product Manager I
47      Product Manager I
42     Product Manager II
40     Product Manager II
38     Product Manager II
46      Product Manager I
51      Product Manager I
43     Product Manager II

C:\Users\morga\OneDrive\anac\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [69]:
wtDust = 5
wtExp = 9
wtBonus = 6
wtLiked = 7
wtTrust = 8
wtSoftBall = 3

In [3]:
cursor = conn.cursor()
query = """SELECT CurrSalary, E.EmpID
FROM Employee E, EmpRole M
WHERE E.EmpID = M.EmpID AND M.RoleID IN (15,16)
;"""

dfbonus=pd.read_sql(query, conn, index_col='EmpID')

#dfbonus=dfcs[['EmpID','CurrSalary']]
dfbonus['CurrSalary'] = dfbonus['CurrSalary'] *.09

dfbonus['CurrSalary'] = dfbonus['CurrSalary'].agg('max') - dfbonus['CurrSalary']
dfbonus.rename(columns={'CurrSalary': 'Bonus'}, inplace=True)
print(dfbonus)

#dfcs['BonusZ'] = (dfbonus['Bonus'] - dfbonus['Bonus'].agg('mean'))/dfbonus['Bonus'].agg('std')
#print(dfcs[['EmpID','BonusZ']])

        Bonus
EmpID
38      837.0
39        0.0
40      549.0
41     1413.0
42     1332.0
43     1188.0
44      549.0
45     1557.0
46     2223.0
47     2340.0
48     2025.0
49     2421.0
50     1134.0
51     1197.0

C:\Users\morga\OneDrive\anac\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [24]:
cursor = conn.cursor()
query = """SELECT E.EmpID
FROM Employee E, EmpRole M
WHERE E.EmpID = M.EmpID AND M.RoleID IN (15,16)
ORDER BY 1
;"""

dfDustF=pd.read_sql(query, conn, index_col='EmpID')
#dfDustF2 = dfDust[['EmpID']]
dfDustF['DustFactor'] = dfRel['RelToCEO'].replace (['nephew/niece', 'none', 'ex-spouse', 'sibling-in-law','second cousin', 'spouse of first cousin','spouse of third cousin', 'step-sibiling-in-law', 'sibling', 'grandchild'], [4, 0, 1, 3, 2, 1, 0, 1, 5, 4])
print(dfDustF)

       DustFactor
EmpID
38              0
39              0
40              1
41              1
42              0
43              0
44              3
45              0
46              5
47              1
48              4
49              2
50              0
51              4

C:\Users\morga\OneDrive\anac\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [25]:
cursor = conn.cursor()
query = """SELECT E.EmpID, COUNT(*) as [Votes]
FROM Employee E, PopVote P, EmpRole M, Role R
WHERE E.EmpID = P.VoteeID AND E.EmpID = M.EmpID AND R.RoleID = M.RoleID AND R.RoleID IN (15,16)
GROUP BY E.EmpID, Lname
ORDER BY 1 ;"""


dfVotes=pd.read_sql(query, conn, index_col='EmpID')
print(dfVotes)

       Votes
EmpID
38         3
39         1
40         8
43         4
44         5
45        25
46        33
48        19
49        12
50        19

C:\Users\morga\OneDrive\anac\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [26]:
cursor = conn.cursor()
query = """SELECT E.EmpID, SUM(Result) AS [Score]
FROM Employee E, HREval H, EvalType T, EmpRole M, Role R
WHERE E.EmpID = H.EmpID AND H.EvalType = T.ETID AND E.EmpID = M.EmpID AND M.RoleID = R.RoleID AND ETID = 1 and R.RoleID IN (15,16)
GROUP BY Lname, E.EmpID
ORDER BY EmpID"""

dfTrust = pd.read_sql(query, conn, index_col='EmpID')

dfTrust.rename(columns={'Score':'TrustScore'}, inplace=True)

print(dfTrust)

       TrustScore
EmpID
38           94.0
39           37.0
40           45.0
41           98.0
42           46.0
43           96.0
44           80.0
45           63.0
46           48.0
47           51.0
48           85.0
49           31.0
50           51.0
51           71.0

C:\Users\morga\OneDrive\anac\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [35]:
cursor = conn.cursor()
query = """SELECT E.EmpID, H.Result
FROM Employee E, HREval H, EmpRole M, Role R
WHERE E.EmpID = H.EmpID AND E.EmpID = M.EmpID AND M.RoleID = R.RoleID AND H.EvalType = 2  AND M.RoleID IN (15,16) 
ORDER BY 1;"""

dfSoftB = pd.read_sql(query, conn, index_col='EmpID')
dfSoftB.rename(columns={'Result':'SBWinner'}, inplace=True)
print(dfSoftB)

       SBWinner
EmpID
38          0.0
39          1.0
40          0.0
41          0.0
42          0.0
43          1.0
44          0.0
45          0.0
46          0.0
47          0.0
48          0.0
49          0.0
50          0.0
51          0.0

C:\Users\morga\OneDrive\anac\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [42]:
cursor = conn.cursor()
query = """SELECT E.EmpID, COUNT(I.ProdID) AS [NumProd]
FROM Employee E, ProdInv I, EmpRole M, Product P
WHERE E.EmpID = I.EmpID AND E.EmpID = M.EmpID AND I.ProdID = P.ProdID AND M.RoleID IN (15,16) AND ProdType IN ('Vac') AND WhenInv IN ('dev')AND ProdName NOT IN ('CozyConey')
GROUP BY E.EmpID
;"""

dfNumProd = pd.read_sql(query, conn, index_col='EmpID')
dfNumProd.rename(columns={'NumProd':'Experience'}, inplace=True)

print(dfNumProd)

       Experience
EmpID
38              1
39              1
41              1
43              1
44              1
45              1
49              2

C:\Users\morga\OneDrive\anac\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [43]:
df2=pd.concat([dfbonus,dfDustF], axis=1)
print(df2)

##dfSoftB','dfNumProd'

        Bonus  DustFactor
EmpID
38      837.0           0
39        0.0           0
40      549.0           1
41     1413.0           1
42     1332.0           0
43     1188.0           0
44      549.0           3
45     1557.0           0
46     2223.0           5
47     2340.0           1
48     2025.0           4
49     2421.0           2
50     1134.0           0
51     1197.0           4

In [44]:
df3=pd.concat([df2, dfVotes], axis=1)
print(df3)

        Bonus  DustFactor  Votes
EmpID
38      837.0           0    3.0
39        0.0           0    1.0
40      549.0           1    8.0
41     1413.0           1    NaN
42     1332.0           0    NaN
43     1188.0           0    4.0
44      549.0           3    5.0
45     1557.0           0   25.0
46     2223.0           5   33.0
47     2340.0           1    NaN
48     2025.0           4   19.0
49     2421.0           2   12.0
50     1134.0           0   19.0
51     1197.0           4    NaN

In [45]:
df4=pd.concat([df3, dfTrust], axis=1)
print(df4)

        Bonus  DustFactor  Votes  TrustScore
EmpID
38      837.0           0    3.0        94.0
39        0.0           0    1.0        37.0
40      549.0           1    8.0        45.0
41     1413.0           1    NaN        98.0
42     1332.0           0    NaN        46.0
43     1188.0           0    4.0        96.0
44      549.0           3    5.0        80.0
45     1557.0           0   25.0        63.0
46     2223.0           5   33.0        48.0
47     2340.0           1    NaN        51.0
48     2025.0           4   19.0        85.0
49     2421.0           2   12.0        31.0
50     1134.0           0   19.0        51.0
51     1197.0           4    NaN        71.0

In [46]:
df5=pd.concat([df4, dfSoftB], axis=1)
print(df5)

        Bonus  DustFactor  Votes  TrustScore  SBWinner
EmpID
38      837.0           0    3.0        94.0       0.0
39        0.0           0    1.0        37.0       1.0
40      549.0           1    8.0        45.0       0.0
41     1413.0           1    NaN        98.0       0.0
42     1332.0           0    NaN        46.0       0.0
43     1188.0           0    4.0        96.0       1.0
44      549.0           3    5.0        80.0       0.0
45     1557.0           0   25.0        63.0       0.0
46     2223.0           5   33.0        48.0       0.0
47     2340.0           1    NaN        51.0       0.0
48     2025.0           4   19.0        85.0       0.0
49     2421.0           2   12.0        31.0       0.0
50     1134.0           0   19.0        51.0       0.0
51     1197.0           4    NaN        71.0       0.0

In [47]:
df6=pd.concat([df5, dfNumProd], axis=1)
print(df6)

        Bonus  DustFactor  Votes  TrustScore  SBWinner  Experience
EmpID
38      837.0           0    3.0        94.0       0.0         1.0
39        0.0           0    1.0        37.0       1.0         1.0
40      549.0           1    8.0        45.0       0.0         NaN
41     1413.0           1    NaN        98.0       0.0         1.0
42     1332.0           0    NaN        46.0       0.0         NaN
43     1188.0           0    4.0        96.0       1.0         1.0
44      549.0           3    5.0        80.0       0.0         1.0
45     1557.0           0   25.0        63.0       0.0         1.0
46     2223.0           5   33.0        48.0       0.0         NaN
47     2340.0           1    NaN        51.0       0.0         NaN
48     2025.0           4   19.0        85.0       0.0         NaN
49     2421.0           2   12.0        31.0       0.0         2.0
50     1134.0           0   19.0        51.0       0.0         NaN
51     1197.0           4    NaN        71.0       0.0         NaN

In [49]:
import numpy as np
df6.replace(to_replace=np.nan, value=0, inplace=True)
print(df6)

        Bonus  DustFactor  Votes  TrustScore  SBWinner  Experience
EmpID
38      837.0           0    3.0        94.0       0.0         1.0
39        0.0           0    1.0        37.0       1.0         1.0
40      549.0           1    8.0        45.0       0.0         0.0
41     1413.0           1    0.0        98.0       0.0         1.0
42     1332.0           0    0.0        46.0       0.0         0.0
43     1188.0           0    4.0        96.0       1.0         1.0
44      549.0           3    5.0        80.0       0.0         1.0
45     1557.0           0   25.0        63.0       0.0         1.0
46     2223.0           5   33.0        48.0       0.0         0.0
47     2340.0           1    0.0        51.0       0.0         0.0
48     2025.0           4   19.0        85.0       0.0         0.0
49     2421.0           2   12.0        31.0       0.0         2.0
50     1134.0           0   19.0        51.0       0.0         0.0
51     1197.0           4    0.0        71.0       0.0         0.0

In [63]:
df6['BonusR'] = df6['Bonus'].agg('max') - df6['Bonus']
print(df6)

        Bonus  DustFactor  Votes  TrustScore  SBWinner  Experience  BonusR
EmpID
38      837.0           0    3.0        94.0       0.0         1.0  1584.0
39        0.0           0    1.0        37.0       1.0         1.0  2421.0
40      549.0           1    8.0        45.0       0.0         0.0  1872.0
41     1413.0           1    0.0        98.0       0.0         1.0  1008.0
42     1332.0           0    0.0        46.0       0.0         0.0  1089.0
43     1188.0           0    4.0        96.0       1.0         1.0  1233.0
44      549.0           3    5.0        80.0       0.0         1.0  1872.0
45     1557.0           0   25.0        63.0       0.0         1.0   864.0
46     2223.0           5   33.0        48.0       0.0         0.0   198.0
47     2340.0           1    0.0        51.0       0.0         0.0    81.0
48     2025.0           4   19.0        85.0       0.0         0.0   396.0
49     2421.0           2   12.0        31.0       0.0         2.0     0.0
50     1134.0           0   19.0        51.0       0.0         0.0  1287.0
51     1197.0           4    0.0        71.0       0.0         0.0  1224.0

In [64]:
df6['BonusZ'] = (df6['BonusR'] - df6['BonusR'].agg('mean'))/df6['BonusR'].agg('std')
df6['DustFactorZ'] = (df6['DustFactor'] - df6['DustFactor'].agg('mean')) / df6['DustFactor'].agg('std')
df6['VotesZ'] = (df6['Votes'] - df6['Votes'].agg('mean')) / df6['Votes'].agg('std')
df6['TrustScoreZ'] = (df6['TrustScore'] - df6['TrustScore'].agg('mean')) / df6['TrustScore'].agg('std')
df6['SBWinnerZ'] = (df6['SBWinner'] - df6['SBWinner'].agg('mean')) / df6['SBWinner'].agg('std')
df6['ExpZ'] = (df6['Experience'] - df6['Experience'].agg('mean')) / df6['Experience'].agg('std')

dfx=df6[['BonusZ', 'DustFactorZ', 'VotesZ', 'TrustScoreZ', 'SBWinnerZ', 'ExpZ']]
print(dfx)

         BonusZ  DustFactorZ    VotesZ  TrustScoreZ  SBWinnerZ      ExpZ
EmpID
38     0.693131    -0.839535 -0.577296     1.299913  -0.393398  0.663212
39     1.845693    -0.839535 -0.763093    -1.169922   2.360387  0.663212
40     1.089711    -0.279845 -0.112805    -0.823278  -0.393398 -0.884282
41    -0.100030    -0.279845 -0.855991     1.473235  -0.393398  0.663212
42     0.011508    -0.839535 -0.855991    -0.779948  -0.393398 -0.884282
43     0.209798    -0.839535 -0.484398     1.386574   2.360387  0.663212
44     1.089711     0.839535 -0.391500     0.693287  -0.393398  0.663212
45    -0.298321    -0.839535  1.466466    -0.043330  -0.393398  0.663212
46    -1.215413     1.958915  2.209652    -0.693287  -0.393398 -0.884282
47    -1.376524    -0.279845 -0.855991    -0.563296  -0.393398 -0.884282
48    -0.942764     1.399225  0.909076     0.909939  -0.393398 -0.884282
49    -1.488062     0.279845  0.258788    -1.429905  -0.393398  2.210705
50     0.284157    -0.839535  0.909076    -0.563296  -0.393398 -0.884282
51     0.197405     1.399225 -0.855991     0.303313  -0.393398 -0.884282

In [65]:
print(dfx.agg('sum'))

BonusZ         4.440892e-16
DustFactorZ    0.000000e+00
VotesZ         6.661338e-16
TrustScoreZ    5.551115e-17
SBWinnerZ      5.551115e-16
ExpZ           8.881784e-16
dtype: float64

In [70]:
dfx['TotScore'] = (wtBonus * dfx['BonusZ']) + (wtDust * dfx['DustFactorZ']) + (wtLiked * dfx['VotesZ']) + (wtTrust * dfx['TrustScoreZ']) + (wtSoftBall * dfx['SBWinnerZ']) + (wtExp * dfx['ExpZ'])
print(dfx)

         BonusZ  DustFactorZ    VotesZ  TrustScoreZ  SBWinnerZ      ExpZ  \
EmpID
38     0.693131    -0.839535 -0.577296     1.299913  -0.393398  0.663212
39     1.845693    -0.839535 -0.763093    -1.169922   2.360387  0.663212
40     1.089711    -0.279845 -0.112805    -0.823278  -0.393398 -0.884282
41    -0.100030    -0.279845 -0.855991     1.473235  -0.393398  0.663212
42     0.011508    -0.839535 -0.855991    -0.779948  -0.393398 -0.884282
43     0.209798    -0.839535 -0.484398     1.386574   2.360387  0.663212
44     1.089711     0.839535 -0.391500     0.693287  -0.393398  0.663212
45    -0.298321    -0.839535  1.466466    -0.043330  -0.393398  0.663212
46    -1.215413     1.958915  2.209652    -0.693287  -0.393398 -0.884282
47    -1.376524    -0.279845 -0.855991    -0.563296  -0.393398 -0.884282
48    -0.942764     1.399225  0.909076     0.909939  -0.393398 -0.884282
49    -1.488062     0.279845  0.258788    -1.429905  -0.393398  2.210705
50     0.284157    -0.839535  0.909076    -0.563296  -0.393398 -0.884282
51     0.197405     1.399225 -0.855991     0.303313  -0.393398 -0.884282

        TotScore
EmpID
38     11.108051
39      5.225522
40    -11.375553
41      8.583245
42    -25.498885
43     17.812986
44     18.330452
45      8.719728
46      3.284632
47    -29.295409
48      5.843856
49      1.559284
50     -9.774300
51     -4.523611

C:\Users\morga\AppData\Local\Temp\ipykernel_8412\1904073903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfx['TotScore'] = (wtBonus * dfx['BonusZ']) + (wtDust * dfx['DustFactorZ']) + (wtLiked * dfx['VotesZ']) + (wtTrust * dfx['TrustScoreZ']) + (wtSoftBall * dfx['SBWinnerZ']) + (wtExp * dfx['ExpZ'])

In [71]:
dfcool = dfx[['TotScore']]
print(dfcool)

        TotScore
EmpID
38     11.108051
39      5.225522
40    -11.375553
41      8.583245
42    -25.498885
43     17.812986
44     18.330452
45      8.719728
46      3.284632
47    -29.295409
48      5.843856
49      1.559284
50     -9.774300
51     -4.523611

In [72]:
dfcool.to_csv('TotScore.csv')

In [73]:
df6.to_csv('rax.csv')

In [75]:
dfx.to_csv('TotScore2.csv')